@model BotCombat.Web.Data.Domain.Map

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Map</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialPower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialPower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrengthWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrengthWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaminaWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaminaWeight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
