@model EditBotViewModel

@{
    ViewData["Title"] = "Edit";
}
<h4>@Model.Name @Model.Version</h4>
<small>Created: @Model.Created Status: @Model.Status</small>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Version" />
    <input type="hidden" asp-for="Created" />
    <div class="form-group">
        <textarea asp-for="Code" class="form-control"></textarea>
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input asp-for="Run" class="form-check-input" />
        <label asp-for="Run" class="form-check-label"></label>
        <span asp-validation-for="Run" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input asp-for="ContinueEdit" class="form-check-input" />
        <label asp-for="ContinueEdit" class="form-check-label"></label>
        <span asp-validation-for="ContinueEdit" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <select class="form-control" asp-for="Status" asp-items="@Model.Statuses"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<canvas id="canvas" style="width: 100%"></canvas>
<div class="form-row">

    <div class="form-group col-sm-1">
        <a id="playStop" class="btn btn-light"></a>
    </div>
    <div class="form-group col-sm-10">
        <input type="range" id="rangeControl" style="width: 100%" class="form-control" />
    </div>
    <div class="form-group col-sm-1">
        <div class="float-right">
            <select id="speedSelect" class="form-control">
                <option value="8">x1</option>
                <option value="4">x2</option>
                <option value="2">x4</option>
                <option value="1">x8</option>
            </select>
        </div>
    </div>
</div>
<hr />
<div class="log-container">
    <div id="log"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/lib/codemirror-5.50.0/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/lib/codemirror-5.50.0/lib/codemirror.css">
    <script src="/lib/codemirror-5.50.0/mode/javascript/javascript.js"></script>
    <script>
        var textarea = document.getElementById('Code');
        var myCodeMirror = CodeMirror.fromTextArea(textarea, {
                lineNumbers: true,
                lineWrapping: true,
                mode: {name: "javascript", globalVars: true}
        });
        document.addEventListener('DOMContentLoaded', function() {
            @if (!string.IsNullOrEmpty(Model.Game))
            {
                <text>
                    const game = new Game($.parseJSON('@Html.Raw(Model.Game)'), '#canvas', '#log', '#rangeControl', '#speedSelect', '#playStop');
                    game.play();
                </text>
            }
        });
    </script>
}
