@model IEnumerable<BotListItemViewModel>

@{
    ViewData["Title"] = "My Bots";
}

<h1>My Bots</h1>

<p>
    <a asp-action="Create">Create New Bot</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-version="@item.Version">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Version)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
            </tr>
        }
    </tbody>
</table>
